.input-container {
  display: flex;
  cursor: pointer;
  min-width: 400px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: fit-content;
  height: 35px;

  & > input[type="text"] {
    border: none;
    padding: 6px 8px;
    flex: 1;
  }

  & > input[type="text"]:focus {
    outline: none;
  }
}

.input-icon {
  padding: 6px 8px;
}

