.select-container {
  display: flex;
  cursor: pointer;
  min-width: 150px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: fit-content;
}

.select-button {
  flex:1;
  padding: 6px 8px;
  text-align: start;
}

.select-icon {
  padding: 6px 8px;
}

.select-menu {
  background:  white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 12px 0 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}

.select-item {
  padding: 6px 8px;
  cursor: pointer;
  text-align: start;

  & > input[type="checkbox"] {
    margin-right: 10px;
  }

  & > input[type="checkbox"]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
}

.select-item:hover {
  background: #f0f0f0;
}

